# Node.js dependencies
/node_modules

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Optional Docker ignore file
.dockerignore

command.sh
note.txt
